<div class="row">
  <div class="col-xxxl-3 col-md-6">
    <h1>Meus dados</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-tabset fullWidth>
        <nb-tab tabTitle="Grupos Criados">
          <div class="row">
            <div class="col-12">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tipo Grupo</th>
                    <th scope="col">Título</th>
                    <th scope="col">Localização</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let listGrupo of grupo">
                    <th scope="row d-flex">
                      <nb-icon (click)="openEditarFormacao(listAcademico.id)" status="primary" icon="edit-outline"></nb-icon>
                      <nb-icon (click)="openRemoverFormacao(listAcademico.id)" status="primary" icon="trash-outline"></nb-icon>
                    </th>
                    <td>{{listGrupo.tipo}}</td>
                    <td>{{listGrupo.titulo}}</td>
                    <td>{{listGrupo.localizacao}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <hr>
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>
</div>
